.rounded-topleft{
    border-top-left-radius: 0.5em;
}

.rounded-topright{
    border-top-right-radius: 0.5em;
}

.rounded-bottomleft{
    border-bottom-left-radius: 0.5em;
}

.rounded-bottomright{
    border-bottom-right-radius: 0.5em;
}

.arrow {
    position: absolute;
    pointer-events: none;
    z-index: 10;
  }

.Task-horizontal {
    min-width: 170px;
    max-width: 220px;
    align-self: center;
}

.Task-vertical {
    min-width: 170px;
    max-width: 15rem;
    justify-self: center;
}

.arrow-with-head::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--arrowhead-size) var(--arrowhead-size) 0 0;
    border-color: var(--arrowhead-color) transparent transparent transparent;
    transform: translate(-50%, -50%) rotate(var(--arrowhead-rotation)); /* 135 degrees to point the arrowhead in the correct direction */
    transform-origin: center;
    top: 50%;
    left: var(--arrowhead-left);
}