.rounded-topleft{
    border-top-left-radius: 0.5em;
}

.rounded-topright{
    border-top-right-radius: 0.5em;
}

.rounded-bottomleft{
    border-bottom-left-radius: 0.5em;
}

.rounded-bottomright{
    border-bottom-right-radius: 0.5em;
}

.arrow {
    position: absolute;
    pointer-events: none;
    z-index: 10;
  }

.Task{
    min-width: 170px;
}